<%- include('partials/header.ejs'); -%>


  <!-- about section -->

  <section class="about_section layout_padding">
    <div class="container">

      <div class="row">
        <div class="col-md-6 ">
          <div class="img-box">
            <img src="img/chef.png" alt="">
          </div>
        </div>
        <div class="col-md-6 mx-auto">
          <div class="detail-box">
            <div class="heading_container">
              <h2>
                Acerca de Nosotros...
              </h2>
            </div>
            <p>
              En el Restaurante de Frijolito, nuestra pasión es la comida auténtica y de calidad. Cada platillo que
              servimos está preparado con los mejores ingredientes y con el amor y cuidado que solo un verdadero amante
              de la cocina puede brindar. Nuestro objetivo es que cada bocado sea una experiencia memorable, y nuestro
              ambiente cálido y acogedor complementa perfectamente la excelencia de nuestra comida.
              <br>
              <br>
              Desde nuestros platillos tradicionales hasta nuestras creaciones más innovadoras, en el Restaurante de
              Frijolito encontrarás una explosión de sabores que deleitarán tu paladar. Ya sea que nos visites en
              familia, con amigos o en pareja, estamos seguros de que tu experiencia con nosotros será inolvidable. ¡Ven
              y descubre por qué somos más que un restaurante, somos un destino gastronómico que te enamorará desde el
              primer bocado!
            </p>
            <a href="/menu">
              Visita Nuestro Menú
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end about section -->
  <%- include('partials/footer.ejs'); -%>