<%- include('partials/header.ejs'); -%>
<style>
    .error-container {
        background-color: #00000091;
        border: 1px solid #f5c800;
        padding: 10px 15px;
        border-radius: 10px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        text-align: center;
        max-width: 300px;
        margin: 0 auto;
    }

    .error-message {
        color: #f5c800;
        font-weight: bold;
        font-size: 14px;
        margin: 0;
    }
</style>



<!-- book section -->
<section class="book_section layout_padding">
    <div class="container text-center">
        <div class="heading_container">
            <h2>Completa tu Perfil para una Mejor Atención!!!</h2>

            <% if (error) { %>
                <div class="error-container text-center">
                    <p class="error-message">
                        <%= error %>
                    </p>
                </div>
            <% } %>
                
        </div>
        <div class="container">
            <div class="col-md-6 mx-auto">
                <div class="form_container">
                    <form action="/perfil/<%= user.id %>/formulario" method="POST">
                        <input type="hidden" name="_method" value="PUT">
                        <div>
                            <input type="text" class="form-control" name="nombre" placeholder="Ingresa su nombre completo" required />
                        </div>
                        <div>
                            <input type="number" class="form-control" name="telefono" placeholder="Ingresa su numero de contacto" required />
                        </div>
                        <div>
                            <input type="text" class="form-control" name="direccion" placeholder="Ingresa su dirección" required />
                        </div>
                        <div class="btn_box">
                            <button type="submit">Actualizar Perfil</button>
                        </div>
                    </form>
            
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end book section -->
<%- include('partials/footer.ejs'); -%>
